<!doctype html>
<html lang="en">
<head>
	<title>{% block title %} Demo {% endblock %}</title>
	<meta charset="utf-8">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/static/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" src="/static/js/moment.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts-gl.min.js"></script>
    <script type="text/javascript" src="/static/js/ecStat.min.js"></script>
    <script type="text/javascript" src="/static/js/dataTool.min.js"></script>
    <script type="text/javascript" src="/static/js/china.js"></script>
    <script type="text/javascript" src="/static/js/world.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="/static/js/bmap.min.js"></script>
    <script type="text/javascript" src="/static/js/simplex.js"></script>
	
	{% block css %} {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">中铁可视化</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navList" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navList">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    后台管理
                </a>
                <div class="dropdown-menu" aria-labelledby="menuLink">
                    <a href="/auxiliary/?1" class="dropdown-item">搜索添加地区</a>
                    <a href="/auxiliary/?0" class="dropdown-item">点击添加地区</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

{% block content %} {% endblock %}

<footer class="page-footer font-small blue">
	<div class="footer-copyright text-center py-3">
		&copy; Copyright 
	</div>
</footer>

<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="/static/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript" src="/static/js/moment.js"></script>
{% block js  %} {% endblock %}

</body>
</html>
